
body {
    background-color: yellow;

}
.logo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}/*
#Logo img {
    width: 105px;
    margin: 506px 1040px 0px;
}
*/
